{{#each users}}
<table>
    <tr><th>User Name</th>
    <th>User Mail</th>
    </tr>
    <tr>
    <td> {{this.first_name}} </td>
    <td>{{this.email}} </td>
    </tr>

</table>

{{/each}}

<section>
    {{#if hasPrevPage}}
    <a href="/users?numPage= {{prevPage}}"><button>Anterior</button></a>
      {{/if}}
      
 <label for=""> {{page}} </label>

      {{#if hasNextPage}}
      <a href="/users?numPage= {{nextPage}}  "><button>Siguiente</button></a>
        
      {{/if}}
</section>